name = "melody-auth-demo"
compatibility_date = "2025-01-01"
keep_vars = true

[vars]

# Branding
COMPANY_LOGO_URL="https://valuemelody.com/logo.svg"
COMPANY_EMAIL_LOGO_URL="https://valuemelody.com/logo.jpg"
EMAIL_SENDER_NAME="Melody Auth Demo"
TERMS_LINK=""
PRIVACY_POLICY_LINK=""

# Locale
SUPPORTED_LOCALES=['en', 'fr']
ENABLE_LOCALE_SELECTOR=true

# Suppression
ENABLE_SIGN_UP=true
ENABLE_PASSWORD_SIGN_IN=true
ENABLE_PASSWORD_RESET=false
ENABLE_NAMES=true
NAMES_IS_REQUIRED=false
ENABLE_USER_APP_CONSENT=true
ENABLE_EMAIL_VERIFICATION=false
ENABLE_ORG=false
BLOCKED_POLICIES=[]
ENABLE_PASSWORDLESS_SIGN_IN=false

# Auth
AUTHORIZATION_CODE_EXPIRES_IN=300
SPA_ACCESS_TOKEN_EXPIRES_IN=1800
SPA_REFRESH_TOKEN_EXPIRES_IN=604800
S2S_ACCESS_TOKEN_EXPIRES_IN=3600
ID_TOKEN_EXPIRES_IN=1800
SERVER_SESSION_EXPIRES_IN=1800

# MFA
OTP_MFA_IS_REQUIRED=false
EMAIL_MFA_IS_REQUIRED=false
SMS_MFA_IS_REQUIRED=false
ENFORCE_ONE_MFA_ENROLLMENT=['otp']
ALLOW_EMAIL_MFA_AS_BACKUP=false
ALLOW_PASSKEY_ENROLLMENT=true

# Brute-force
UNLOCK_ACCOUNT_VIA_PASSWORD_RESET=true
PASSWORD_RESET_EMAIL_THRESHOLD=5
ACCOUNT_LOCKOUT_THRESHOLD=5
EMAIL_MFA_EMAIL_THRESHOLD=10
CHANGE_EMAIL_EMAIL_THRESHOLD=5
ACCOUNT_LOCKOUT_EXPIRES_IN=86400
SMS_MFA_MESSAGE_THRESHOLD=5

# Social Sign-in
# GOOGLE_AUTH_CLIENT_ID=""
# FACEBOOK_AUTH_CLIENT_ID=""
# GITHUB_AUTH_CLIENT_ID=""
# GITHUB_AUTH_APP_NAME=""
# DISCORD_AUTH_CLIENT_ID=""

# Log
ENABLE_EMAIL_LOG=false
ENABLE_SMS_LOG=false
ENABLE_SIGN_IN_LOG=false

[[kv_namespaces]]
binding = "KV"
id = "1f21f2c775a84ac08a37abb447cc3b03"

[[d1_databases]]
binding = "DB"
database_name = "melody-auth-dev"
database_id = "7de6f97c-8fa5-4b20-a985-b65dd27ef5b0"
migrations_dir = "./migrations/sqlite"

[assets]
directory = "./dist/static"
